@import "components/navbar.css";
@import "components/footer.css";
@import "components/banner.css";
@import "components/header.css";
@import "components/hide-show.css";


/*body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;
	
	background-color: #000000;
	color: white;
}*/


.wrapper {
	width: 100vw !important;
	height: auto;
}

p {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 500;
}

a {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
}

h2 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	font-size: 50px;
	color: black;
}

.top-left {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
}