.banner {
    width: 100vw;
    height: auto;
    margin-top: 0 !important;
}

.banner h2 {
	padding: 25px 15px 25px 15px;
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0;
}

.banner.first h2 {
  background-color: #407076;
}

.banner.second h2 {
  background-color: #abc8c7;
}

section.images {
    transition: transform 0.8s;
    will-change: transform;
}

.images img {
    width: 650px;
    height: 500px;
    object-fit: cover;
    margin: 0px 10px;
    background-position: center;

}

.photo-container {
	position: relative;
  	text-align: center;
  	color: white;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 50px;
}

/*@media screen and (max-width: 1024px) {
  div.top-left {
  top: 20px;
  left: 100px;
  }
}*/


@media screen and (max-width: 800px) {
  .images img {
  width: 100vw;
  height: 50vh;
  margin: 0;
  object-fit: cover;
  position: center;
  }
}
@media screen and (max-width: 800px) {
  .trip {
    padding: 5px !important;
  }
}

.trip {
	padding: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    /*align-content: center;*/
    flex-direction: row;
    flex-wrap: wrap;

}

.trip.one {
	background-color: #407076;
	width:100vw;
}

.trip.two {
	background-color: #407076;
	width:100vw;
}

.trip.three {
	background-color: #407076;
	width:100vw;
}

.trip.four {
	background-color: #407076;
	width:100vw;
}

.trip.five {
	background-color: #407076;
	width:100vw;
}

.trip.six {
  background-color: #abc8c7;
  width:100vw;
}

.trip.seven {
  background-color: #abc8c7;
  width:100vw;
}

.zoom {
  transition: transform .2s; /* Animation */
/*  width: 200px;
  height: 200px;*/
  /*margin: 0 auto;*/
}

.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  padding: 50px;
  margin: 50px;
}