.navbar-lewagon {
    justify-content: space-between;
    background: white;
    font-family: 'Libre Baskerville', serif;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: auto;
    height: 20px;
}

.navbar {
    padding: 0px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 0px 50px;
}

.navbar a {
    margin: 5px 50px;
}